{
  "presets": [
    "airbnb",
    "latest",
    "react",
    "es2017",
    "stage-0",
    "stage-1",
    "flow"
  ],
  "plugins": [
  "transform-class-properties",
  "transform-decorators-legacy" 
  ],
  "env": {
    "test" : {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
