@value trackHeightBasis from '../../input/index.css';
@value grey from '../../../../../styles/palette.css';

.timeline-track-container {
    width: 100%;
    height: trackHeightBasis;
    border-bottom: 5px solid grey;
}
