@value grey from '../../styles/palette.css';


.header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 5em;
    background: grey;
}

.header-icon {
    /* justify-content: flex-end; */
    /* top: 0.5em; */
    /* left: 95%; */
}


