@value grey, midGrey from '../../../../styles/palette.css';


@value timeAxisHeight: 32px;

.input-control-panel {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    /* min-width: 200px; */
    /* max-width: 400px; */
    background-color: grey;
    transition: flex-basis 0.6s cubic-bezier(0.37, 0.795, 0.52, 0.94);
}

.input-control-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: timeAxisHeight;
    min-height: timeAxisHeight;
    background-color: midGrey;
}

.track-input-panel-container {
    composes: container from '../../../../styles/main.css';
    flex-direction: column;
    overflow: hidden;
}

@value trackHeightBasis: 128px;
@value trackMinHeight: 128px;
@value trackMaxHeight: 128px;

.track-input-panel {
    display: flex;
    flex-basis: trackHeightBasis;
    min-height: trackMinHeight;
    max-height: trackMaxHeight;
    background-color: midGrey;
    border-bottom: 5px solid grey;
}
