@value lightGrey from '../../../styles/palette.css';

.container {
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
}

.txt {
    display: flex;
    align-items: center;
    font-family: 'Share Tech Mono', monospace;
    color: lightGrey;
}


